@font-face {
    font-family: 'Kenia';
    src: url(/fonts/Kenia-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
}

.header {
    width: 100%;
    min-height: 1024px;
    background-image: url(img1/desktop.png);
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 47px;
}

.logo {
    display: block;
    margin-left: 320px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin: 0 auto;
    padding: 0;
    margin-left: 190px;
    list-style: 0;
    align-items: center;
}

.navigation-link-main {
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-family: "Istok Web";
    font-weight: 400;
    line-height: 40px;
    color: white;
}

.container-page-header {
    display: flex;
    padding-top: 22px;
    padding-left: 300px;
}

.header-text-list {
    padding-top: 136px;
    list-style: none;
}

.text-header1 {
    width: 461px;
    font-family: 'Kenia';
    color: white;
    font-size: 160px;
    font-weight: 400;
}

.text-header2 {
    padding-top: 175px;
    color: white;
    font-size: 22px;
    font-family: 'Istok Web';
    font-weight: 400;
    width: 290px;
}

.phone-div{
    position: relative;
    width: 500px;
    height: 888px;
    margin-left: 400px;
}

.phone {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; 
}

.kabel {
    position: absolute; 
    top: 730px; 
    left: 50px;
    height: 158px;
    z-index: 1; 
}